
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #505050;
    background-color: #fff;
    font-weight: 600;
  }
  
  .modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
  }
  
  
  
  
  * {
    box-sizing: border-box;
  }
  
  .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    background-color: rgba(33, 33, 33, 0.49);
    border-top-color: rgba(255, 255, 255, 0.1);
    border-top-width: 2px;
    border-top-style: solid;
    cursor: pointer;
  }
 
  .modal-dialog {
    max-width: 400px;
    margin: 1.25rem auto;
  }
  
  .side-nav {
    /* background-color: #bd2130; */
    border-left-color: #EC6608;
    border-left-width: 6px;
    border-left-style: solid;
    height: 30px !important;
    overflow: hidden;
  }
  
  
  
  /* Images used */
  .imgBMSatellite { background-image: url("../img/imgBMSatellite.png"); }
  .imgBMLight { background-image: url("../img/imgBMLight.png"); }
  .imgBMDark { background-image: url("../img/imgBMDark.png"); }
  .imgBMStreet { background-image: url("../img/imgBMStreet.png"); }
  .imgBMOutdoors { background-image: url("../img/imgBMOutdoors.png"); }
  
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 0px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30px;
    padding: 20px;
    text-align: center;
  }
  
  
  #BasemapsList{
    visibility: visible;
    display: none;
    height: 50px;
    width: auto;
    position: fixed;
    margin-top: -50px;
    margin-left: 52px;
  }
  
  .basemapsbtns {
    position: relative;
    display: block;
    padding: 0px 0px;
  }
  /* #menuItemBasemapsManager:hover .basemapsbtns {
  
    visibility: visible;
  } */
  #menuItemBasemapsManager {
    position: relative;
    display: block;
    padding: 0px 0px;
  }
  #menuItemBasemapselector {
    position: relative;
    display: block;
    padding: 0px 0px;
  }
  #menuItemBasemapselector{
    text-align: center;
    padding: 10px 0;
   }
  #menuItemARselector{
    position: relative;
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  

 #menuItemInfos{
  position: relative;
  display: block;
  text-align: center;
  padding: 10px 0;
 }

   #menuItemBasemapsManager{
    text-align: center;
    padding: 10px 0;
   }
  
  #summaryText{
    float:left;
    /* width:1000px; */
    overflow-y: auto;
    height: 800px;
  }
  
  .modal.left.fade{
    margin-left: 100px;
  }
  
  /* .modalLeft{
  left:53px !important;
  }
   */
/* 
   input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
  */
  #sidenavbar i{
    pointer-events: none;
  }
  
  
  
  
  /* ----- MODAL LEFT  ----- */
  .modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 550x;
    height: 100%;
    padding-top: 51px;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
  
  .modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  
  .modal.left .modal-body {
    padding: 15px 15px 80px;
  }
  
  .modal-title {
    font-size: medium;
  }
  
  .h4, h4 {
    font-size: 18px;
  }
  .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
  }
  
  .modal.left.fade .modal-dialog {
    left: -250px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
  }
  
  .modal.left.fade.in .modal-dialog {
    left: 0;
  }
  
  /* ----- MODAL STYLE ----- */
  .modal-content {
    border-radius: 0;
    border: none;
  }
  
  .modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  
  .loader {
    margin: -10px 0 0 -250px;
    height: 100px;
    width: 20%;
    position: fixed;
    text-align: center;
    padding: 1em;
    top: 50%;
    left: 40%;
    margin: 0 auto 1em;
    z-index: 9999;
  }






  /* bootstrap region select list */

  #region-checkbox-list-container .checkbox-list > li > a {
    display: block;
    padding: 3px 0;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

#region-checkbox-list-container .checkbox-list > li > a:hover,
#region-checkbox-list-container .checkbox-list > li > a:focus {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}

#region-checkbox-list-container .checkbox-list > .active > a,
#region-checkbox-list-container .checkbox-list > .active > a:hover,
#region-checkbox-list-container .checkbox-list > .active > a:focus {
    color: #333;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
}

#region-checkbox-list-container .checkbox-list > .disabled > a,
#region-checkbox-list-container .checkbox-list > .disabled > a:hover,
#region-checkbox-list-container .checkbox-list > .disabled > a:focus {
    color: #777;
}

#region-checkbox-list-container .checkbox-list > .disabled > a:hover,
#region-checkbox-list-container .checkbox-list > .disabled > a:focus {
    text-decoration: none;
    cursor: unset;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#region-checkbox-list-container .checkbox-list > li > a > label {
    padding: 3px 0 3px 20px;
}

@media (min-width: 768px) {
    #region-checkbox-list-container .checkbox-list > li {
        float: left;
        width: 50%;
    }
    #region-checkbox-list-container .checkbox-list-vertical > li {
        float: none;
        width: 100%;
    }
}

#region-checkbox-list-container .multiselect-container.checkbox-list {
    position: static;
}



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #EC6608;
}

.modal {
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  width:100%;
  /* Looks same, but now you can click. See with: */
  top:20px;
}

.modal-dialog {
  margin:0;
}

.modal-backdrop {
  background-color: transparent;
}