
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


#info {
    display: block;
    position: relative;
    width: 100%;
    height: 42px;
    padding: 12px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 0px;
    font-size: 11px;
    text-align: left;
    color: #656565;
    background: #e8e8e8;
}

#customDrawPalette {
    padding: 0;
    margin: 0;
}

.draw-color-change {
   height: 18px;
   width: 18px;
   border-radius: 0px;
   margin-right: 2px;
   display: inline-flex;
   cursor: pointer;
}

#calculate {

    background-color: none;
    color: #4a4a4a;
    cursor: pointer;

}

#calculated-area, #calculated-length {
    height: 40px;
    width: 100%;
    background-color: #e8e8e8;
    border: 1px solid rgb(208, 208, 208);
    color: #4a4a4a;
    /*border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}


.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(61, 68, 72, 1.0);
}


#saveButton {
    max-height: 40px;
    width: 40px;
    background-color: #c5c5c5;
    color: #4a4a4a;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}

#urlCopied {
    max-height: 40px;
    height: 40px;
    background-color: #e8e8e8;
    color: #4a4a4a;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 13px 13px 13px 5px;
    margin: 10px 0;
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#copyButton {
    min-height: 40px;
    width: 40px;
    background-color: #dcdcdc;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}

#export-map {
    min-height: 40px;
    border: 1px solid rgb(208, 208, 208);
    padding: 10px;
    cursor: pointer;
}

#search_general {
    min-height: 40px;
    width: 50px;
    background-color: #c5c5c5;
    border: none;
    cursor: pointer;
}

#clear_general {
    min-height: 40px;
    width: 50px;
    color: #fbfbfb;
    background-color: #a2a2a2;
    border: none;
    cursor: pointer;
}


.ui-autocomplete {
    max-height: 300px;
    width: 244px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 5px;
    padding-top: 5px;
    border: 2px solid #e8e8e8;
    z-index: 2000;
    font-size: small;
    color: #636363;
    white-space: nowrap;
}

    .ui-autocomplete .ui-menu-item a.ui-state-focus {
        background: #c2f0ff !important;
        padding-right: 100%;
        border: none;
        color: #353535;
        text-decoration: none;
        font-weight: 600;
        white-space: nowrap;
        font-size: small;
    }

a {
    color: #333;
    text-decoration: none;
    /* display: block; */
}

    a:focus, a:hover {
        color: black;
        text-decoration: underline;
    }

.clickable {
    cursor: pointer;
}

.layer-picker {
    padding: 8px 8px;
    width: 100%;
    background: #e8e8e8;
    border: none;
    border-right: none;
    font-size: 9pt;
    border-radius: 0;
    -webkit-appearance: none;
}


#ascrail2001{
    z-index:2147483647 !important;
    }
    

    #ascrail2001-hr{
        z-index:2147483647 !important;
        }
        
.goalList{
    font-weight:500;
    line-height: 1.75;
}

.methodList{
    line-height: 1.75;
}





#mainspandiv{
    font-size: xx-small;
    color: white;
    width: 67%;
    text-align: center;
}


#mainspan{
    color: #cdcdcd;
    width: 100%;
    text-align: center;
    margin: unset;
    padding: 10px;
}

.dropdown-toggle{
    padding-top: 7px ;
    padding-bottom: 7px ;
}


.mapboxgl-ctrl-top-right{
    top: 20px !important;
}

.navbar-header {
    width: 15%;
}

.navbar-brand {
    font-size: small !important;
    line-height: normal !important;
    padding: 10px;
    height: 65px;
}

.navbar-brand i {
    font-size: 0rem;
}

.navbar-right{
    position: absolute;
    right: 0px;
    bottom: 0;
}

#sidenavbar{
    z-index: 9999;
    top: 66px;
}

.modalLeft{
    padding-top: 66px !important;
}

#bookmarksCurves li{
    font-size: small;
    cursor: pointer;
}

#bookmarksCurves{
    float: left;
    min-width: 250px !important;
}

#charts rect{
    cursor: pointer;
}

.Legend_charts_{
    text-align: center;
}



.imglegend { background-image: url("../images/legend.png");
    position: absolute;
    bottom: 10px;
    right: 10px;
    /*width: 841px;
    height: 295px;*/
    width: 210px;
    height: 74px;
    z-index: 999;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.top-nav > li > a {
    padding: 5px;
    line-height: 40px;

}


.righttabs{
    font-size: 1.8rem;
}

.label {
    padding: .1em .4em .1em !important;
    font-size: 90% !important;
}

.modal-responsive-will {
    width: 80%
}

.modal-title {
    font-size: medium;
}

.modal-body h3 {
    font-size: medium;
}

.unset-margins {
    margin: unset
}

.printymodal {
    max-width: 80%;
    margin: 0px;
}

.bg-image {
    /* Full height */
    width: 100%;
    height: 100%;
    min-height: 48px;
    min-width: 25px;
    background-size: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #summaryText p, #summaryText i, #summaryText li {
    font-weight: normal;
    color: #000;
    font-style: normal;
    line-height: normal;
  }

  

  #summaryText strong, #summaryText h3 {
    color: #000;
  }


@media (min-width: 576px){

    #mainspandiv{
        font-size: x-small;
    }

    .bg-image {
        min-width: 52px;
      }

}



@media (min-width: 768px){
    .imglegend { background-image: url("../images/legend.png");
        /*width: 841px;
        height: 295px;*/
        width: 240px;
        height: 84px;
    }

    .righttabs {
        font-size: x-large;
    }

    .top-nav > li > a {
        padding: 15px;
        line-height: 25px;
    }

    #mainspandiv {
        font-size: smaller;
    }

    .navbar-header {
        width: 22%;
    }

    #mainspandiv{
        width: 60%;
    }

    .navbar-brand {
        font-size: medium !important;
        line-height: 1.6rem;
        padding: 15px;
    }
    
    .label {
        padding: .2em .6em .2em !important;
        font-size: 95% !important;
    }

    .printymodal {
        max-width: unset;
        margin: 30px auto;
    }

}



@media (min-width: 992px){

    .navbar-brand i {
        font-size: x-large;
        padding-right: 10px;
    }

    .modal-responsive-will {
        width: 60%
    }

}



@media (min-width: 1200px){

    #mainspan {
        padding: 10px;
    }

    #mainspandiv {
        font-size: medium;
    }
    
    .navbar-brand i {
        font-size: xx-large;
        padding-right: 20px;
        line-height: 45px;
    }

    .navbar-brand {
        font-size: large !important;
        line-height: 2rem;
        padding: 10px 20px;
    }

    .top-nav > li > a {
        padding-left: 10px;
        padding-right: 25px;
    }

    .navbar-header {
        width: 18%;
    }

    #mainspandiv{
        width: 65%;
    }

    .modal-responsive-will {
        width: 40%
    }


}